@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');



.theme-1{
    --main-backgrund:#3A4663;
    --display-bg-color:#181F33;
    --buttons-conteiner-bg:#242D44;
    --buttons-color:#EAE3DC;
    --end-result-number:#FFFFFF;
    --button-number:#434A59;
    --del-reset-button:#647198;
    --equal-button:#D03F2F;
    --button-number-hover:#FFF;
    --del-reset-button-hover:#A2B2E1;
    --equal-button-hover:#F96B5B;
    --reset-del-font-color:#FFF;
    --equal-sign-color:#FFF;
    


   

}
.theme-2{
    --main-backgrund:#E6E6E6;
    --display-bg-color:#EEEEEE;
    --buttons-conteiner-bg:#D2CDCD;
    --buttons-color:#E5E4E1;
    --end-result-number:#36362C;
    --button-number:#36362C;
    --del-reset-button:#378187;
    --equal-button:#C85402;
     --button-number-hover:#FFF;
    --del-reset-button-hover:#62B5BC;
    --equal-button-hover:#FF8A38;
     --reset-del-font-color:#FFF;
    --equal-sign-color:#FFF;
}

.theme-3{
    --main-backgrund:#17062A;
    --display-bg-color:#1E0936;
    --buttons-conteiner-bg:#1E0936;
    --buttons-color:#331C4D;
    --end-result-number:#FFE53D;
    --button-number:#FFE53D;
    --del-reset-button:#56077C;
    --equal-button:#00DED0;
     --button-number-hover:#6C34AC;
    --del-reset-button-hover:#8631AF;
    --equal-button-hover:#93FFF8;
      --reset-del-font-color:#FFF;
      --equal-sign-color:#1A2327;

}
/*del i reset imaju drugaciju boju za box shadow*/

body{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.main{
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-backgrund);
}
.calculator-conteiner{
    width: 30%;
    height: 80%; 
}
.calc-header{
    height: 8vh;
    display: flex;  justify-content: space-around;
    color:var(--end-result-number)
}

.calc-title{
    width: auto;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5vh;
    font-size: 2vw;
}

.calc-theme{
    font-size:0.8vw;
    margin-left: auto;
    margin-right: 1vw;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1vh;
}

.theme-switcher{
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change-theme{
    height: 3vh;
   
    border-radius: 6px;
    /* padding-bottom: 1vh; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--buttons-conteiner-bg);
}
.change-theme>div{
    width: 0.9vw;
    height: 0.9vw;
    border-radius: 50%;
}

.change-theme>div:hover{
    cursor: pointer;
}

.theme-number{
    font-size:0.8vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0.3vw;
}

.theme-number>span{
    cursor: pointer;
}

.display{
    height: 18%;
    background-color: var(--display-bg-color);
    border-radius: 6px;
    margin:3vh 0;
    box-shadow: 0 4px 4px rgba(0,0,0,25%);
    color:var(--end-result-number);
    text-align: right;
    padding: 1vw;
    position: relative;
}

.display-1{
    opacity: 0.4;
    font-size: 1.5vw;
    height: 7vh;
    overflow: hidden;
}

.display-2{
    font-size:3.2vw;
    overflow: hidden;
    margin-left:4vw;
}

.temp-result{
   position: absolute; 
   bottom: 0;
   left:1vw;
   font-size:2.8vw;
   opacity: 0.4;
   visibility: hidden;
}

.calc-interface{
    height: 60%;
    border-radius: 6px;
    display:grid;
    grid-template-rows: repeat(5, 14%);
    grid-template-columns: repeat(4,18%); 
    justify-content: center;
    align-content: center;  
    gap:4%; 
    background-color: var(--buttons-conteiner-bg);
    box-shadow: 0 4px 4px rgba(0,0,0,25%);
}

.calc-interface>div{
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
     box-shadow: inset 0 -3px 0px rgba(65, 53, 53, 0.25);
     cursor:pointer;
}
.reset,.equal{
    grid-column: span 2;
}
.numbers, .operation, .dot{
     background-color: var(--buttons-color);
     color:var(--button-number);
}
.numbers:hover, .operation:hover, .dot:hover{
    background-color: var(--button-number-hover);
}


.del,.reset {
    background-color: var(--del-reset-button);
    color:var(--reset-del-font-color);
}
.del:hover, .reset:hover{
    background-color: var(--del-reset-button-hover);
}

.equal{
    background-color: var(--equal-button);
    color:var(--equal-sign-color);
}
.equal:hover{
    background-color: var(--equal-button-hover);
}
.theme1{
    background-color: #D03F2F;
  
}
.theme2{
    background-color:#C85402 ;
    
}
.theme3{
    background-color: #00DED0;

}

@media all and (max-width:1024px){
    .calculator-conteiner{
        width: 55%;
        height: 70%;
    }
    .calc-header{
        height: 6vh;
    }
    .calc-title{
        font-size: 3.5vw;
    }
    .calc-theme{
        font-size: 1.8vw;
    }
    .theme-number{
        font-size: 1.6vw;
    }
    .change-theme{
        height: 2.2vh;
    }
    .change-theme>div{
        width: 1.4vw;
        height: 1.4vw;
    }
    .display{
        height: 12%;
        margin:1.5vh 0;
    }
    .display-1{
        height: auto;
        font-size: 3vh;
        padding-bottom: 2vh;
    }
    .calc-interface>div{
        font-size:2.2vw;
    }
}

@media all and (max-width:768px){
    .calculator-conteiner{
        width: 60%;
    }
    .calc-title{
        font-size: 3.8vw;
    } 
    .calc-theme{
        font-size: 1.8vw;
    }
    
    .theme-number{
        font-size: 1.8vw;
    }
     .change-theme>div{
        width: 1.6vw;
        height: 1.6vw;
    }
    
    .calc-interface>div{
        font-size:3vw;
    } 
    .display-1, .temp-result {
        font-size: 4vw;
    }
    .display-2{
        font-size: 5.5vw;
    }

}

@media all and (max-width:480px){
  body{
      height: 105vh;
  }
    .calculator-conteiner{
        width: 90%;
        margin-top:4vh;
    }
    .main {
        align-items: flex-start;
    }
     .calc-title{
        font-size: 5vw;
    } 
     .calc-theme{
        font-size: 2.4vw;
    }
     .theme-number{
        font-size: 2vw;
    }
    .change-theme>div{
        width: 2.2vw;
        height: 2.2vw;
    }
      .display-1, .temp-result {
        font-size: 5vw;
    }
    .display-2{
        font-size: 6.5vw;
    }
     .calc-interface>div{
        font-size:4vw;
    } 
}



